.div-accordion{
    width: 300px;
    text-align: center;
    background: white;
    font-size: 16px;
    border-radius: 7px;
    border: none;
}

.h1{
    font-size: 30px;
    align-items: center;
    margin-top: 5px;
}

.Accordion {
    width: 300px;
    border-radius: 7px;

}

.hr-accordion{
    width: 300px;
    background: #01ed64;
    height:3px;
    margin: 0;
    padding: 0;
}