.imgBx{
    position: relative;
    width:1230px;
    height: 370px;
    overflow: hidden;
    border-radius: 7px;
    margin: 0 auto;
    text-align: center;
}

.imgBx img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.centrado{
    position: absolute;
    top: 60%;
    left: 33%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    color: white;
    box-shadow: inset;
}

.hr-banner{
    width: 97%;
    color: #01ed64;
    border-radius: 0 30px 30px 30px 0;
    justify-content: center;
    margin: 0;
    margin-left: 15px;
}