.button-total {
    background: rgb(30, 255, 0);
    padding: 0.5rem 1rem;

    font-weight: 400;
    color: white;

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
    transition: all ease-in-out 250ms;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
        transform: scale(1.05) rotateZ(2deg);
    }

    &:disable{
        color: #bbb;
        cursor: not-allowed;
    }
}