$theme-main-text: #4c555a;
$theme-secondary-text: #7d8385;
$theme-main-color: #5dccbb;
$theme-button-one: #5dccbb;
$theme-button-one-hover: #57af9e;
$theme-button-two: #8795fe;
$theme-button-two-hover: #7d86db;
$theme-footer-bg: #f5f6f8;
$theme-btn-nav-container: #001e2b;
$nav-container: #01ed64;