.section-derecha{
    width: 48%;
    padding: 1rem;
    margin-left: 50px;
    background-color: white;
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    min-width: min-content;
}

